.main {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  background-color: #E5EEDA;
}

.main form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  margin-bottom: 50px;
  display: block;
}

.fields {
  display: flex;
  /* border: 1px solid gray; */
  border: none;
  font-size: 16px;
  height: 50px;
  padding: 0 15px;
  border-radius: 4px;
  margin-top: 20px;
  width: 90%;
}

.fields:focus {
  border: 2px solid #283618;
}

.enter-room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #283618;
  border-radius: 4px;
  transition: 0.3s;
  height: 50px;
  margin-top: 50px;
  border: none;
}

.enter-room-button:hover {
  opacity: 0.7;
}

.enter-room-button span {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
}

.logo-home {
  margin-bottom: 30px;
}