div.chat-room-container {
  display: flex;
  padding: 0 15px;
  flex-flow: column;
  height: 100%;
  opacity: 1;
  background-color: white;
}

div.chat-room-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #CAD5CA;
  border-radius: 4px;
}

div.signed-room-div {
  display: flex;
  flex: 1;
}

div.leave-room-div {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

div.leave-room-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 10px;
  background-color: darkred;
  height: 50px;
  border-radius: 4px;
  width: 100px;
  transition: 0.3s;
  cursor: pointer;
}

div.leave-room-button-container:hover {
  opacity: 0.7;
}

input.leave-room-button {
  font-size: 16px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: darkred;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
}

svg.logout-icon {
  color: white;
}

div.message-container {
  border: 1px solid #CAD5CA;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  flex: 1;
  height: 60%;
}

div.users-list-container {
  border-right: 1px solid #CAD5CA;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  height: 100%;
  box-shadow: 1px 0px 5px #CAD5CA;
  background-color: cornflowerblue;
  transition: 1s;
}

li.username-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #CAD5CA;
}

div.message-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 10px 15px 15px;
}

/* div.message-list-container-header {
  position: relative;
  display: block;
  top: 0;
  left: 0;
} */

ul.layout-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  overflow: auto;
  scroll-behavior: smooth;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul.layout-list::-webkit-scrollbar {
  display: none;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5px;
}

.right {
  align-items: flex-end;
  margin-right: 5px;
}

.message-box {
  border-radius: 15px;
  border-top-left-radius: 0;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 5px gray;
  background-color: antiquewhite;
  max-width: 50%;
}

.me {
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: aqua;
}

p.message-time {
  color: gray;
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.message-item:not(:first-child) {
  margin-top: 15px;
}

/* input.leave-room {
  margin-left: 15px;
  padding: 5px;
} */

div.chat-room-bottom-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #CAD5CA;
  border-radius: 4px;
  margin: 15px 0;
  padding: 10px;
  align-items: center;
}

div.chat-room-message-container {
  display: flex;
  flex: 1;
}

textarea.chat-room-message-input {
  font: 16px 'Roboto', sans-serif;
  border: none;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin-right: 10px;
  height: 50px;
  /* height: auto; */
  overflow: hidden;
  padding: 16px;
  resize: none;
}

div.chat-room-send-button-container {
  display: flex;
}

div.send-message-button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(8, 87, 14);
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.3s;
  width: 100px;
  cursor: pointer;
}

div.send-message-button-container:hover {
  opacity: 0.7;
}

input.send-message-button {
  font-size: 16px;
  border: none;
  background-color: rgb(8, 87, 14);
  color: white;
  height: 40px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

svg.send-icon {
  color: white;
}


@media (max-width: 600px)
{
  div.users-list-container {
    overflow-x: hidden;
    transition: 1s;
    width: 0;
    z-index: -100;
  }

  div.message-list-container {
    margin-left: -25px;
  }
}
