div.chat-room-container {
  display: flex;
  padding: 0 15px;
  flex-flow: column;
  height: 100%;
  background-color: #E5EEDA;
}

div.chat-room-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  margin: 15px 0;
  border-radius: 4px;
}

div.signed-room-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

div.leave-room-div {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.leave-room-button {
  display: flex;
  border: none;
  border-radius: 4px;
  background-color: #BC3325;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.leave-room-button:hover {
  opacity: 0.7;
}

svg.logout-icon {
  color: white;
}

div.message-container {
  border: 1px solid #CAD5CA;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  flex: 1;
  height: 60%;
}

div.users-list-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  height: 100%;
  background-color: #CADDB4;
  opacity: 0.6;
  transition: 1s;
}

li.username-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #E7B488; */
  color: black;
  font-weight: 600;
}

div.message-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 10px 15px 15px;
}

/* div.message-list-container-header {
  position: relative;
  display: block;
  top: 0;
  left: 0;
} */

ul.layout-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  overflow: auto;
  scroll-behavior: smooth;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul.layout-list::-webkit-scrollbar {
  display: none;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5px;
}

.right {
  align-items: flex-end;
  margin-right: 5px;
}

.message-box {
  border-radius: 15px;
  border-top-left-radius: 0;
  padding: 15px 15px 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 5px gray;
  background-color: #DDA15E;
  opacity: 0.9;
  max-width: 70%;
  color: #283618;
  transition: margin-top 0.3s;
  display: flex;
  flex-direction: column;
}

.me {
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: #95BC69;
}

p.message-time {
  color: #606C38;
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.message-item:not(:first-child) {
  margin-top: 15px;
}

/* input.leave-room {
  margin-left: 15px;
  padding: 5px;
} */

div.chat-room-bottom-container {
  display: flex;
  flex-direction: row;
  opacity: 0.6;

  border-radius: 4px;
  margin: 15px 0;
  padding: 10px 0;
  align-items: center;
}

div.chat-room-message-container {
  display: flex;
  flex: 1;
}

textarea.chat-room-message-input {
  font: 16px 'Roboto', sans-serif;
  border: none;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin-right: 10px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
  resize: none;
}

.send-message-button {
  border: none;
  background-color: #283618;
  display: flex;
  width: 50px; 
  height: 50px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.send-message-button:hover {
  opacity: 0.7;
}

.send-icon {
  color: white;
}

.hide-menu {
  overflow-x: hidden;
  transition: 1s;
  width: 0;
  /* display: none; */
  z-index: -100;
}

.expand-message-list-container {
  margin-left: 0px;
}

.message-list-container-header button {
  border: none;
  background-color: #E5EEDA;
}

img {
  max-width: 50%;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}

@media (max-width: 600px) { 
  .message-box {
    max-width: 100%;
  } 
}

.logo-room {
  width: 100px;
  margin-bottom: 10px;
}